tests/fixtures/n8n/expressions.json
{
  "name": "Expression Test",
  "nodes": [
    {"id": "1", "name": "Trigger", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0], "parameters": {}},
    {"id": "2", "name": "With Expressions", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [200, 0], "parameters": {"url": "https://api.example.com/users/{{ $json.userId }}", "method": "POST"}},
    {"id": "3", "name": "With Credentials", "type": "n8n-nodes-base.github", "typeVersion": 1, "position": [400, 0], "parameters": {"resource": "issue"}, "credentials": {"githubApi": {"id": "1", "name": "My GitHub"}}}
  ],
  "connections": {
    "Trigger": {"main": [[{"node": "With Expressions", "type": "main", "index": 0}]]},
    "With Expressions": {"main": [[{"node": "With Credentials", "type": "main", "index": 0}]]}
  }
}
